<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Lego Collection</title>
  <link rel="stylesheet" href="../css/main.css">
</head>

<body class="h-screen w-screen bg-gray-200">


  <%-include('partials/navbar',{page:'/about'})%>;
    <div class="hero bg-base-200">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">About</h1>
          <p class="py-6">
            Hey there I am learning WEB 322!!
          </p>
        </div>
      </div>
    </div>
    <div class="container mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-20">
        <div>
          <img width="500" height="500"
            src="https://th.bing.com/th/id/R.dd467b40af62ca7580f94a3ed50d4932?rik=WhbiITTtbVt3Sw&pid=ImgRaw&r=0"
            alt="Computer Programming pic">
        </div>
        <div>
          <p>Hello, my name is Kunwar Siddharth Mankotia, and I’m a student at Seneca College. I’m currently in my third
            semester, studying computer programming. I have a strong interest in web development, and I’m learning a lot
            from my course, Web 322. I enjoy creating websites and learning new technologies that make online
            experiences better. Web development has always fascinated me, and I’m excited to keep building my skills in
            this field. Beyond coding, I’m also keen on exploring how web applications can solve real-world problems and
            improve user experiences. I look forward to applying my knowledge in practical projects and growing as a
            developer.</p>
        </div>
      </div>
    </div>

</body>

</html>