<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <%-include('partials/navbar',{page:"/lego/register"})%>;

    <div class="hero bg-base-200 min-h-screen">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <% if (successMessage) { %>

          <h1 class="text-5xl font-bold">Registration Successful!</h1>
          <p class="py-6"><%= successMessage %></p>
          <a href="/login" class="btn btn-success">Proceed to Log in</a>
          <% } else { %>

          <h1 class="text-5xl font-bold">Register</h1>
          <form action="/register" method="POST" class="space-y-4 py-6">
            <div class="form-control">
              <input
                type="text"
                name="userName"
                placeholder="User Name"
                value="<%= userName || '' %>"
                required
                class="input input-bordered w-full"
              />
            </div>

            <div class="form-control">
              <input
                type="email"
                name="email"
                placeholder="Email Address"
                required
                class="input input-bordered w-full"
              />
            </div>

            <div class="form-control">
              <input
                type="password"
                name="password"
                placeholder="Password"
                required
                class="input input-bordered w-full"
              />
            </div>

            <div class="form-control">
              <input
                type="password"
                name="password2"
                placeholder="Confirm Password"
                required
                class="input input-bordered w-full"
              />
            </div>

            <div class="form-control">
              <button type="submit" class="btn btn-primary w-full">
                Register
              </button>
            </div>
          </form>

          <% if (errorMessage) { %>
          <div class="alert alert-error mt-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="stroke-current shrink-0 h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
            <span><%= errorMessage %></span>
          </div>
          <% } %> <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
