<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">User History</h1>
      //showing logged in user info
      <p class="py-4">
        <strong>Username:</strong> <%= session.user.userName %><br />
        <strong>Email:</strong> <%= session.user.email %>
      </p>
    </div>
  </div>
</div>

<div class="overflow-x-auto w-full px-8">
  <table class="table table-zebra w-full">
    <thead>
      <tr>
        <th>Login Date/Time</th>
        <th>Client Information</th>
      </tr>
    </thead>
    <tbody>
      <% if (session.user.loginHistory && session.user.loginHistory.length > 0)
      { %> <% session.user.loginHistory.forEach((entry) => { %>
      <tr>
        <td><%= new Date(entry.dateTime).toLocaleString() %></td>
        <td><%= entry.userAgent %></td>
      </tr>
      <% }); %> <% } else { %>
      <tr>
        <td colspan="2" class="text-center">No login history available.</td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
